.image-card {
  width: 64px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  background: var(--block-bg-color);
  max-width: 106px;

  figure {
    display: flex;
    padding: 14px;
    height: 100%;
    justify-content: center;
    align-items: center;
    img {
      object-fit: scale-down;
      width: 100%;
      max-width: 52px;
      transition: .6s;

      @include for-hover-state {
        &:hover {
          opacity: .6;
        }
      }
    }
  }
}

.title-card {
  text-decoration: none !important;
  @include for-hover-state {
    &:hover h6 {
      color: var(--hover-color);
    }
  }

  figure {
    width: 100%;
    height: 120px;
    background: var(--block-bg-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    @include for-mobile-screen-sizes {
      width: 106px;
      height: 120px;
    }

    @include for-mobile-screen-sizes {
      display: grid;
      justify-content: center;
    }

    &.dark {
      display: grid;
    }

    &.light {
      display: none;
    }

  }

  h6 {
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
    letter-spacing: -0.01rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-text-color);
    text-transform: none;
    transition: .6s;

    &.dark {
      display: block;
    }

    &.light {
      display: none;
    }
  }
}

.description-card {
  text-decoration: none !important;

  @include for-mobile-screen-sizes {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.015em;
  }

  @include for-hover-state {
    &:hover {
      h6 {
        color: var(--hover-color);
      }

      .system-options-img {
        border-color: var(--hover-color);
      }
    }
  }

  p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.01em;
    color: var(--secondary-text-color);
  }

  figure {
    width: 100%;
    height: 160px;
    background: var(--block-bg-color);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    border: 1px solid var(--block-bg-color);
    transition: .6s;

    .dark {
      display: block;
    }

    .light {
      display: none;
    }
  }

  h6 {
    font-family: 'Berkeley Mono', monospace;
    line-height: 1.4;
    letter-spacing: -0.04em;
    color: var(--primary-text-color);
    font-size: 1rem;
    text-transform: none;
    transition: .6s;
  }
}