.markdown-content {
  > * {
    margin-bottom: 40px;
  }

  > h2[id]{
    padding-top: 40px;
    margin-bottom: 20px;
  }

  > h3[id] {
    padding-top: 40px;
    margin-bottom: 20px;
  }

  > h4[id] {
    padding-top: 20px;
    margin-bottom: 10px;
  }
  > p {
    margin-bottom: 20px;
  }

  > hr {
    margin-top: 60px;
  }

  > p, ol, ul {
    a {
      color: var(--primary-text-color);
      font-weight: 500;
      text-decoration: underline;
      text-decoration-color: var(--active-state-color);
      text-underline-offset: 3.2px;
      transition-duration: 250ms;

      @include for-hover-state {
        &:hover {
          // opacity: 0.6;
          color: var(--primary-text-color);
          text-decoration-color: var(--hover-color);
        }
      }

      // This color is overwriting every a tag
      //&:visited {
      //  color: var(--secondary-text-color) !important;
      //}
    }

  }


  > blockquote {
    margin: 0 0 34px;
    border-left: 2px solid var(--hover-color);
    padding-left: 20px;
    font-style: italic;
    font-weight: 300;
    opacity: 0.9;
    @include for-tablet-screen-sizes {
      margin: 63px 0 40px;
      padding-left: 30px;
    }

    @include for-mobile-screen-sizes {
      margin: 43px 0 39px;
    }

    & svg path {
      fill: var(--hover-color);
    }

    code {
        background-color: var(--nav-color);
        padding: 0.14rem 0.4rem;
        border-radius: 4px;
        font-size: 0.8rem;
        font-style: normal;
    }

    strong {
      font-style: normal;
    }

    a {
      color: var(--accent-color);
      font-weight: 300;
      text-decoration: underline;
      font-style: normal;
      text-decoration-color: var(--accent-color);
      text-underline-offset: 3.2px;
      transition-duration: 250ms;

      @include for-hover-state {
        &:hover {
          // opacity: 0.6;
          text-decoration-color: var(--hover-color);
        }
      }
    }

    p {
      margin-top: 11px;
      letter-spacing: -0.14px;
      padding-right: 4px;

      @include for-tablet-screen-sizes {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-top: 10px;
        letter-spacing: -0.0125rem;
      }

      @include for-mobile-screen-sizes {
        letter-spacing: -0.25px;
        padding-right: 0;
        margin-top: 7px;
      }
    }

    .author-handle {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.01rem;
      color: var(--secondary-text-color);
      display: flex;
      gap: 15px;
      text-transform: uppercase;
      font-family: 'Berkeley Mono', monospace;
      padding-top: 4px;

      @include for-tablet-screen-sizes {
        margin-top: 14px;
      }
    }
  }
  > ol {
    padding-inline-start: 18px;
    margin: 0 0 6px;
    li {
        font-size: 1.08rem;
        color: var(--primary-text-color);
        font-weight: 500;
        margin-bottom: 8px;
      &::marker {
        color: var(--accent-text-color);
      }

      p {
        margin: 0;
      }
    }

    @include for-tablet-screen-sizes {
      font-size: 1rem;
    }
  }

  > ul {
    // background: var(--block-bg-color);
    padding: 0px 10px 10px 16px;
    margin-bottom: 6px;
    margin-top: 0;
    list-style-image: url(/src/assets/icons/facts.svg);

    @include for-mobile-screen-sizes {
      margin-bottom: 40px;
    }

    li {
      padding-left: 10px;
      margin: 0 0 4px;
      color: var(--accent-text-color);
      font-weight: 300;
      letter-spacing: 0.2px;

      strong {
        font-weight: 400;
      }


      code {
        font-family: 'Berkeley Mono', monospace;
        font-size: 0.88rem;
        font-weight: 400;
        line-height: 1.4;
        color: var(--primary-text-color);
        letter-spacing: -0.02em;
        background-color: var(--block-bg-color);
        padding: 0.1rem 0.4rem;
        border-radius: 4px;
      }

      a {
        font-weight: 400;
        color: var(--primary-text-color);
        @include for-mobile-screen-sizes {
          font-size: 1rem;
        }
      }
    }

    li > ul {
      padding: 0 15px;
      margin: 0;
      list-style: none;

      li:before {
        content: '-';
        color: var(--primary-text-color);
      }
    }
  }


  > details.idp-details {
    cursor: pointer;
    pointer-events:all;
    padding:0.6rem 0;
    color:#fff;
    margin:1.4rem 0;
    border-top: 1px solid #2ecc71;
    border-bottom: 1px solid #2ecc71;
  }

  .container {
    border:1px solid #2ecc71;
    margin: 1.2rem auto 0.6rem;
  }

  .container tbody {
    width: 100%;
  }
  .container tr {
    display: flexbox;
  }

  .container td, th {
    padding: 6px 16px;
    text-align: center;
    color:#fff;
  }


  .table-color tr:nth-child(even) {
    background-color: #161616;
  }

  .table-color tr > td:nth-child(1) {
    height: 100%;
  }

  .table-row {
    display: flex;

  }


  > details[open]{
    border-top: 0;
    border-bottom:0;
    transition-duration: 250ms;
    cursor:auto;
  }

  > details[open] > summary {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
  }

  > aside {
    margin-top: 40px;
  }

  .expressive-code {
    padding-left: 30px;
    margin-bottom: 20px;
  }

}