.markdown-content {
  > * {
    margin-bottom: 40px;
  }

  > p, ol, ul {
     a {
      color: var(--primary-text-color);
      font-weight: 600;
      text-decoration: underline;

      @include for-hover-state {
        &:hover {
          opacity: 0.6;
        }
      }

      &:visited {
        color: var(--secondary-text-color) !important;
      }
    }
  }

  > h2 {
    position: relative;
    &:before {
      content: '#';
      position: absolute;
      color: var(--hover-color);
      font-family: 'Berkeley Mono', monospace;
      font-weight: 400;
      letter-spacing: -0.06rem;
      transform: translate(-100%, 0);
      left: -12px;
    }
    @include for-tablet-screen-sizes {
      &:before {
        content: '';
      }
    }
  }

  > h6 + p {
    margin-bottom: 20px;
  }



  > blockquote {
    margin: 59px 0 64px;
    border-left: 2px solid var(--hover-color);
    padding-left: 30px;

    @include for-tablet-screen-sizes {
      margin: 63px 0 40px;
      padding-left: 30px;
    }

    @include for-mobile-screen-sizes {
      margin: 43px 0 39px;
    }

    & svg path {
      fill: var(--hover-color);
    }

    p {
      margin-top: 11px;
      letter-spacing: -0.14px;
      padding-right: 4px;

      @include for-tablet-screen-sizes {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-top: 10px;
        letter-spacing: -0.0125rem;
      }

      @include for-mobile-screen-sizes {
        letter-spacing: -0.25px;
        padding-right: 0;
        margin-top: 7px;
      }
    }

    .author-handle {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.01rem;
      color: var(--secondary-text-color);
      display: flex;
      gap: 15px;
      text-transform: uppercase;
      font-family: 'Berkeley Mono', monospace;
      padding-top: 4px;

      @include for-tablet-screen-sizes {
        margin-top: 14px;
      }
    }
  }
  > .table-wrapper {
    position: relative;

    @include for-mobile-screen-sizes {

      &:after {
        content: '';
        position: absolute;
        width: 90px;
        background: linear-gradient(270deg, var(--bg-color) 12.5%, rgba(10, 10, 10, 0.00) 100%);
        right: 0;
        bottom: 0;
        height: 100%;
        pointer-events: none;
      }
    }

    > table {
      border-collapse: collapse;
      color: var(--primary-text-color);
      width: 100%;

      @include for-mobile-screen-sizes {
        display: block;
        max-width: fit-content;
        overflow-x: auto;
        white-space: nowrap;
        padding-right: 25px;
      }

      th, td {
        padding: 0.5rem;
        text-align: left;
        word-break: break-word;
      }

      td {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -0.01rem;
        border-bottom: 1px solid var(--border-extra);

      }

      th {
        font-family: 'Berkeley Mono', monospace;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.0075rem;
        text-transform: uppercase;
        border-bottom: 3px solid var(--border-extra);
      }
    }
  }

  > ol {
    padding-inline-start: 18px;
    li {
      &::marker {
        color: var(--secondary-text-color);
      }

      p {
        margin: 0;
      }
    }

    @include for-tablet-screen-sizes {
      font-size: 1rem;
    }
  }

  > ul {
    background: var(--block-bg-color);
    list-style-type: none;
    padding: 30px;
    margin-bottom: 60px;
    margin-top: 0;


    @include for-mobile-screen-sizes {
      margin-bottom: 40px;
    }

    li {
      position: relative;
      padding-left: 25px;

      &::before {
        position: absolute;
        content: url(/src/assets/icons/facts.svg);
        margin-right: 10px;
        line-height: 0;
        top: 6px;
        left: 0;
      }

      margin: 0 0 10px;
      color: var(--primary-text-color);
      font-weight: 500;

      a {
        color: var(--primary-text-color);

        @include for-mobile-screen-sizes {
          font-size: 1rem;
        }
      }
    }

    li > ul {
      padding: 0 15px;
      margin: 0;
      list-style: none;

      li:before {
        content: '-';
        color: var(--primary-text-color);
      }
    }
  }
  .expressive-code {
    border: 1px solid var(--border-extra);
    border-radius: 3px;

    .frame.is-terminal .header {

      border: none;
      background: var(--block-bg-color);
      border-bottom: 1px solid var(--border-extra);
      color: var(--secondary-text-color);

      &:before {
        left: 8px;
        height: 8px;
        opacity: 1;
        background-color: var(--border-extra);
      }

      &:after {
        content: none;
      }
    }

    .frame pre {
      background: var(--block-bg-color);
    }
    pre {
      border: none;
    }
     pre > code {
      padding: 16px 0;
    }
    .ec-line {
      font-family: 'Berkeley Mono', monospace;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: -0.035rem;
    }
    .copy {
      background: unset;
      opacity: 1;
      button {
        opacity: 1;
        background-color: var(--block-bg-color);

        &:after {
          background-color: var(--secondary-text-color);
          mask-image: url('/src/assets/icons/copy.svg');
        }

        &:before {
          border: none;
          opacity: 1;
        }

        &:hover {
          div {
            opacity: 0;
          }
          &:after {
            background-color: var(--hover-color);
          }
        }
      }
    }
  }
}
