h1 {
  font-family: 'Berkeley Mono', monospace;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text-color);
  letter-spacing: -0.04em;
  @include for-tablet-screen-sizes {
    font-size: 2.5rem;
  }

  @include for-mobile-screen-sizes {
    font-size: 1.75rem;
  }
}

h2 {
  font-family: 'Berkeley Mono', monospace;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text-color);
  letter-spacing: -0.06em;
  @include for-tablet-screen-sizes {
    font-size: 1.75rem;
  }

  @include for-mobile-screen-sizes {
    font-size: 1.5rem;
  }
}
h3 {
  font-family: 'Berkeley Mono', monospace;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text-color);
  letter-spacing: -0.04em;
  @include for-tablet-screen-sizes {
    font-size: 1.375rem;
  }
}

h4 {
  font-family: 'Berkeley Mono', monospace;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--primary-text-color);
  letter-spacing: -0.04em;
  @include for-tablet-screen-sizes {
    font-size: 1.25rem;
  }
}
h5 {
  font-family: 'Berkeley Mono', monospace;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--primary-text-color);
  letter-spacing: -0.04em;
  @include for-tablet-screen-sizes {
    font-size: 1.125rem;
  }
}
h6 {
  font-family: 'Berkeley Mono', monospace;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text-color);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  @include for-tablet-screen-sizes {
    font-size: 1rem;
  }
}


p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.01rem;
  color: var(--secondary-text-color);
}

ol {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

hr {
  border-color: var(--border-color);
  margin-bottom: 20px;
}

strong {
  font-weight: normal;
  color: var(--primary-text-color);
}