---
interface Props {
  property: string
}
const { property } = Astro.props
---

<div class="property">
  {
    property === 'requestBody'
      ? 'Request Body'
      : property === 'operationId'
        ? 'Operation Id'
        : property.split('')[0].toUpperCase() + property.slice(1)
  }
  : {property === 'responses' && <span class="required">Example Response</span>}
</div>
