---
import { url, version } from '../../util/fetch'

const regex = /^https:\/\/[^\/]+\/([^\/]+)\/[^\/]+\//

const match = regex.exec(url)
let modifiedVersion: string

if (match) {
  modifiedVersion = match[1]
  console.log('api version found: ' + modifiedVersion)
} else {
  console.log('No match found.')
}
---

<span>{version === 'undefined' ? modifiedVersion : version}</span>
