---

---

<div class:list={'card-flex'}><slot /></div>

<style>
    .card-flex {
        display: flex;
        gap: 16px;
        justify-items: center;

        @media (max-width: 1024px) {
            flex-wrap: wrap;
        }

        @media (max-width: 650px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
