---
import ApiPropertyCardTitle from './ApiPropertyCardTitle.astro'
import { transformResponse } from 'src/util/fetch'
import { Sample } from '../../util/sample'
import type { operations, paths } from '../../util/generated-types'
import type { Root } from 'src/util/api-type'
interface Props {
  method: string
  property: string
  route: keyof paths
}

const { method, route, property }: Props = Astro.props

// const response = transformResponse(route, method)

// recursively look for "ref" in an object and look get its value, if none return null
---

<>
  <ApiPropertyCardTitle property={property} />
  <div class="value">
    {
      route ? (
        <div class="children-body">
          <pre>{JSON.stringify(route, null, 2)}</pre>
        </div>
      ) : (
        'null'
      )
    }
  </div>
</>
