---
import ApiPropertyCardTitle from './ApiPropertyCardTitle.astro'
import { transformResponse, getStatusCodes } from 'src/util/fetch'
import type { paths } from '../../util/generated-types'
interface Props {
  method: string
  property: string
  route: keyof paths
}

const { method, route, property }: Props = Astro.props

const response = transformResponse(route, method)
// const statusCodes = getStatusCodes(route, method)

// recursively look for "ref" in an object and look get its value, if none return null
---

<>
  <ApiPropertyCardTitle property={property} />
  <div class="value">
    <!-- <p>Status code: {statusCodes}</p> -->
    {
      response ? (
        <div class="children-body">
          <pre class="response-pre">{JSON.stringify(response, null, 2)}</pre>
        </div>
      ) : (
        'null'
      )
    }
  </div>
</>
