---
import ApiPropertyCardTitle from './ApiPropertyCardTitle.astro'
interface Props {
  value: any
  Schema?: any
  property: string
}

const { value, property, Schema }: Props = Astro.props

// validate if the value of the item is an object
function isObject(item) {
  if (typeof item === 'object' && item !== null && !Array.isArray(item)) {
    return true
  }
  return false
}

function findRef(obj) {
  for (let key in obj) {
    if (isObject(obj[key])) {
      findRef(obj[key])
    } else {
      if (key === '$ref') {
        return obj[key]
      }
    }
  }
  return obj
}
// getting response body schema
const schema = Object.keys(value).map(key => {
  // example content: [ { 'application/json': { schema: [Object] } } ]
  const content = Object.values(value[key]).map(item => {
    findRef(item)
  })
})
---

<>
  <ApiPropertyCardTitle property={property} />
  <div class="value">
    {
      value ? (
        <div class="children-body">
          <pre>{JSON.stringify(value, null, 2)}</pre>
        </div>
      ) : (
        'null'
      )
    }
  </div>
</>
