---
import { Image } from 'astro:assets';
const { imageDark, imageAlt, title, link } = Astro.props;
---
<a href={link}>
    <figure class="image dark">
        <Image src={imageDark} alt={imageAlt} />
    </figure>
    <h6 class="dark">{title}</h6>
</a>