---
import * as cn from 'classnames'
import type { Root } from '../../util/api-type'
import { Schema } from '../../util/api'

// const response = await fetch('https://api.cde.agency/v3/docs/swagger.json')
//   .then(res => res.json() as Promise<Root>)
//   .catch(err => console.error(err))

// const path = response['paths'] as Root['paths']
// const routes = Object.keys(path)

// let methods: string[] = []
// let content: string[] = []
// const routeContent = routes.forEach(route => {
//   const methodName = Object.keys(path[route]) as string[]
//   methods.push(...methodName)
//   methods.map(method => {
//     content = path[route][method]
//   })
// })

const mapObject = (obj, fn) => {
  return Object.keys(obj).reduce((result, key) => {
    const value = obj[key]
    if (typeof value === 'object' && value !== null && !Array.isArray(value)) {
      result[key] = mapObject(value, fn)
    } else {
      result[key] = fn(value)
    }
    return result
  }, {})
}
---

{
  methods.map(method => (
    <div class="api-card">
      <div class="api-header">
        <span class="method">{method}</span>
      </div>
    </div>
  ))
}
