---
---

<div class="content-panel">
	<div class="sl-container"><slot /></div>
</div>

<style>
	.content-panel {
		margin-top: 40px;
	}

	.sl-container > :global(* + *) {
		margin-top: 1.5rem;
	}
</style>
