---
import { TableOfContents, MobileTableOfContents } from 'virtual:starlight/components';
---

{
    Astro.props.toc && (
    <>
        <div class="right-sidebar-panel">
            <div class="sl-container">
                <TableOfContents {...Astro.props} />
            </div>
        </div>
    </>
        )
    }

<style>
    .right-sidebar-panel {
        padding: 1rem 0 1rem 1rem;
    }
    .right-sidebar-panel :global(h2) {
        font-family: 'Berkeley Mono', monospace;
        font-size: 0.75rem;
        font-weight: normal;
        line-height: 1;
        text-transform: uppercase;
        color: var(--primary-text-color);
        letter-spacing:  -0.00875rem;
        padding-bottom: 10px;
        border-bottom: var(--border);
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .right-sidebar-panel :global(a) {
        display: block;
        font-size: var(--sl-text-xs);
        text-decoration: none;
        color: var(--sl-color-gray-3);
        overflow-wrap: anywhere;
    }
    .right-sidebar-panel :global(a:hover) {
        color: var(--sl-color-white);
    }
    @media (min-width: 72rem) {
        .sl-container {
            max-width: calc(
                    (
                    (
                    100vw - var(--sl-sidebar-width) - 2 * var(--sl-content-pad-x) - 2 *
                    var(--sl-sidebar-pad-x)
                    ) * 0.25 /* MAGIC NUMBER 🥲 */
                    )
            );
        }
    }
</style>
