---

import SidebarSublist from './SidebarSublist.astro';
import {MobileMenuFooter} from "virtual:starlight/components";

const { sidebar } = Astro.props;
---

<SidebarSublist sublist={sidebar} />
<!--<div class="lg:sl-hidden">-->
<!--    <MobileMenuFooter {...Astro.props} />-->
<!--</div>-->
