---
import { Icon } from "@astrojs/starlight/components"
---

<div class="not-content">
    <div class="modal-layout">
      <div class="theia-notification-container">
        <div class="notification-header">
          <div class="notification-title">
            <Icon name="information" color="cornflowerblue" size="1.5em" />
            <div class="theia-notification-message">
              Process is listening on 4321.
            </div>
          </div>

          <button class="close-button">
            <Icon name="close" color="gray" size="1em" />
          </button>
        </div>

        <div class="notification-actions">
          <p class="theia-notification-button">Open Preview</p>
          <p class="theia-notification-button">Open Browser</p>
        </div>
      </div>
    </div>
  </div>